<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :listing_id %>
    <%#= form.number_field :listing_id %>
    <%= form.collection_select :listing_id, Listing.order(:title), :id, :title, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :sender_id %>
    <%#= form.number_field :sender_id %>
    <%= form.collection_select :sender_id, User.order(:username), :id, :username, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :recipient_id %>
    <%#= form.number_field :recipient_id %>
    <%= form.collection_select :recipient_id, User.order(:username), :id, :username, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
