<!--<p id="notice"><%#= notice %></p>-->

<!--<h1>Listings</h1>-->

<div class="text-center">
  <h1>Listings</h1>
</div>

<div class="row justify-content-center">
  <div class="col-auto">
    <table class="table table-responsive table-bordered">
      <thead>
        <tr>
          <th>Seller</th>
          <!--<th>Buyer</th>-->
          <th>Image</th>
          <th>Title</th>
          <!--<th>Details</th>-->
          <th>Category</th>
          <th>Location</th>
          <th>Sold?</th>
          <th>Created</th>
          <th>Updated</th>
          <!--<th colspan="3"></th>-->
        </tr>
      </thead>

      <tbody>
        <% @listings.each do |listing| %>
          <tr>
            <!--<td><%#= link_to listing.seller.username.to_s %></td>-->
            <td><%= link_to listing.seller.username, @user %></td>
            <!--<td><%#= listing.buyer_id %></td>-->
            <!--<td><%#= listing.image %></td>-->
            <!--<td><%#= image_tag(listing.image.url) if listing.image.url, class: "rounded-3 shadow p-0 mb-1 bg-white rounded", width: "75px", alt: "thumbnail" %></td>-->
            <%# if listing.image.url %>
            <td><%= image_tag listing.image.url, class: "rounded-3 shadow p-0 mb-1 bg-white rounded", width: "75px", alt: "thumbnail" %></td>
            <%# end %>
            <!--<td><%#= listing.title %></td>-->
            <td><%= link_to listing.title, listing %></td>
            <!--<td><%#= listing.details %></td>-->
            <!--<td><%#= listing.category_id %></td>-->
            <td><%= listing.category.title %></td>
            <td><%= listing.location.city %></td>
            <td><%= humanize_boolean(listing.sold?) %></td>
            <!--<td><%#= listing.created_at %></td>-->
            <td><%= time_ago_in_words(listing.created_at) %> ago</td>
            <td><%= time_ago_in_words(listing.updated_at) %> ago</td>

            <% if user_signed_in? && current_user.username == "admin" %>
            <td><%= link_to 'Show', listing %></td>
            <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
            <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</div>  

<br>

<div class="text-center">
  <%= link_to 'New Listing', new_listing_path %>
</div>
