<!--<p id="notice"><%#= notice %></p>-->

<!--<p>
  <strong>Seller:</strong>
  <%#= @listing.seller.username %>
</p>-->

<!--<p>
  <strong>Buyer:</strong>
  <%#= @listing.buyer_id %>
</p>-->

<!--<p>
  <strong>Title:</strong>
  <%#= @listing.title %>
</p>-->

<!--<p>
  <strong>Image:</strong>
  <%#= @listing.image %>
  <%#= image_tag @listing.image %>
  <%#= image_tag @listing.image.url %>
  <%#= image_tag @listing.image.url, class: "rounded-3", width: "580px", alt: "image" %>
</p>-->

<!--<p>
  <strong>Details:</strong>
  <%#= @listing.details %>
</p>-->

<!--<p>
  <strong>Category:</strong>
  <%#= @listing.category.title %>
</p>-->

<%#= link_to 'Edit', edit_listing_path(@listing) %>
<%#= link_to 'Back', listings_path %>

<div class="text-center">
  <h1>Listing</h1>
</div>

<div class="card mx-auto" style="width: 30rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <%#= image_tag @listing.image.url, class: "rounded-3", width: "580px", alt: "image" %>
    <%= image_tag @listing.image.url, class: "card-img-top", alt: "image" %>
  <div class="card-body">
    <h5 class="card-title"><%= @listing.title.capitalize %></h5>
    <!--<p class="card-text">Details: <%#= @listing.details %></p>-->
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Details: <%= @listing.details %></li>
    <!--<li class="list-group-item">Location: <%#= @listing.location.city %></li>-->
    <li class="list-group-item">Category: <%= @listing.category.title.capitalize %></li>
    <li class="list-group-item">Seller: <%= @listing.seller.username.capitalize %></li>
    <li class="list-group-item">Sold?: <%= humanize_boolean(@listing.sold) %></li>
  </ul>
  <div class="card-body">
    <% if user_signed_in? %>
    <%= link_to 'Reply', new_message_path + "?query_listing_id=#{@listing.id}&query_recipient_id=#{@listing.seller.id}", class: "card-link" %> 
    <% else current_user.username == @listing.seller.username %>
    <%= link_to 'Edit', edit_listing_path(@listing), class: "card-link" %> 
    <% end %>
    <%#= link_to 'Back', listings_path, class: "card-link" %></a>
    <%= link_to 'Back', :back %>
  </div>
</div>
