<!--<p>
  <strong>User ID:</strong>
  <%#= @user.id %>
</p>-->

<!--<p>
  <strong>Username:</strong>
  <%#= @user.username %>
</p>-->

<!--<p>
  <strong>Email:</strong>
  <%#= @user.email %>
</p>-->

<!--<p>
  <strong>Avatar:</strong>
  <%#= image_tag @user.avatar.url %>
</p>-->

<!--<p>
  <strong>Created:</strong>
  <%#= time_ago_in_words(@user.created_at) %> 
</p>-->

<!--<p>
  <strong>Updated:</strong>
  <%#= time_ago_in_words(@user.updated_at) %> 
</p>-->

<%#= link_to 'Edit', edit_user_registration_path(@user) %>
<%#= link_to 'Back', users_path %>

<div class="text-center">
  <h1>Profile</h1>
</div>

<div class="card mx-auto" style="width: 30rem;">
    <%= image_tag @user.avatar.url, class: "card-img-top", alt: "image" %>
  <div class="card-body">
    <h5 class="card-title"><%= @user.username.capitalize %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email: <%= @user.email %></li>
    <%# @user.listing_seller.each do |listing| %>
    <li class="list-group-item">Listings: <%= link_to @user.listing_seller, @user %></li>
    <%# end %>
    <li class="list-group-item">Messages: <%= link_to @user.message_sender, @user %></li>
    <li class="list-group-item">Created: <%= time_ago_in_words(@user.created_at) %></li>
    <li class="list-group-item">Updated: <%= time_ago_in_words(@user.updated_at) %></li>
  </ul>
  <div class="card-body">
    <% if user_signed_in? && current_user.username == @user.username %>
    <%= link_to 'Edit', edit_user_registration_path(@user), class: "card-link" %>
    <% end %>
    <%#= link_to 'Back', users_path, class: "card-link" %>
    <%= link_to 'Back', :back, class: "card-link" %>
  </div>
</div>
