<!--<p id="notice"><%#= notice %></p>-->

<!--<h1>Categories</h1>-->

<div class="text-center">
  <h1>Categories</h1>
</div>

<!--<table>
  <thead>
    <tr>
      <th>Title</th>-->
      <!--<th>Location</th>-->
      <!--<th colspan="3"></th>
    </tr>
  </thead>-->

  <div class="row justify-content-center">
  <div class="col-auto">
  <table class="table table-responsive">
  <thead>
    <tr>
      <th>Choose a category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <!--<td><%#= category.title %></td>-->
        <!--<td><%#= category.location_id %></td>-->
        <td>
          <button type="button" class="btn-default btn-lg"><%= category.title %></button>
        </td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center">
  <%= link_to 'New category', new_category_path %>
</div>
