<div class="text-center">
  <h1>Locations</h1>
</div>

<div class="row justify-content-center">
  <div class="col-auto">
  <% if user_signed_in? && current_user.username == "admin" %>
    <table class="table table-responsive table-bordered">
    <% else %>
    <table class="table table-responsive table-borderless">
    <% end %>
      <thead>
        <tr>
          <th>Choose a city</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @locations.each do |location| %>
          <tr>
            <!--<td><%#= location.city %>-->
            <td>
              <button type="button" class="btn-default btn-lg"><%= link_to location.city.to_s, location %></button>
            </td>

            <% if user_signed_in? && current_user.username == "admin" %>
            <td><%= link_to 'Show', location %></td>
            <td><%= link_to 'Edit', edit_location_path(location) %></td>
            <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="text-center">
  <% if user_signed_in? && current_user.username == "admin" %>
  <%= link_to 'New location', new_location_path %>
<% end %>
</div>
