<!DOCTYPE html>
<html>
  <head>
    <title>Krayslist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if current_user != nil %>

      <%= link_to "Categories", categories_path %>
      |
      <%= link_to "Your listing", listings_path %>
      |
      <%= link_to "Edit profile", edit_user_registration_path %>
      |
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      |
      <%= current_user.username %>
     
      <% else %>

      <%= link_to "Sign in", user_session_path %>
      |
      <%= link_to "Sign up", new_user_registration_path %>
      
      <% end %>

    <%= yield %>

  </body>
</html>
